<div id="wrapper">
  <div class="line"></div>
  <div id="mainpanel">
    <div class="childdiv">
      <img id="child-img" src='./man.png' />
    </div>
    <div class="childdiv">
      <div id="form">
        <div style="background-color:#6785c0;">
          <span id="form-title">Please fill below form to verifiy to your
            purchase</span>
        </div>
        <div id="form-content">
          <form>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="text" placeholder="Mobile Number" />
            <input type="text" placeholder="Address" />
            <input type="text" placeholder="8 Digit Unique Code" required minlength="8" />
            <span style="color:#fff;">Upload your pic: </span> <input type="file" placeholder="Upload your pic" />
            <input type="Submit" />
          </form>
        </div>
      </div>
      <div id="mobile-man">

      </div>
    </div>
  </div>
  <div class="line" id="bottom-line"></div>
</div>